# This is Git's per-user configuration file.
[user]
	name = cubanmjssle
	email = cpulido1@student.gsu.edu
# Please adapt and uncomment the following lines:
#	name = Ubuntu
#	email = chrispro-1@PROmac1.dmanbleoch2epnuxhnm1qclrdh.bx.internal.cloudapp.net
