.tvshows{
    font-size: 50pt;
    margin-left: 15px;
}

.bodyp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkolivegreen;
}
.favorite{
    color: darkslategray;
}